@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}
body{
    background: #e8e6e7;
}
header {
    flex-direction: end;
    justify-content: space-between;
    padding: 10px ;
    background: rgb(54, 53, 53);
   
}

i#burguer{
    text-align: end;
    color: white;
    display: block;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover {
    color: white;

}
menu {
    display: none;
}
menu > ul > li > a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(87, 87, 87);
    color: white;
    border-top: 2px solid gray;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation .logo {
    
    width: 40px;
}
.navigation ul {
    display: flex;
    align-items: center;
    gap: 60px;
}
.navigation ul li a {
    color: #888;
    font-weight: 600;
    padding-bottom: 4px;
    transition: all 0,5s ease-in-out ;

}
.navigation ul li a:hover {
    border-bottom: 1px solid white;
}

/* main */

main section  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}
.main-text img {
    width: 250px;
    margin-bottom: 3vh;
}
.main-text h3 {
    font-size: 30px;
    margin-bottom: 2rem;
}
.main-text p {
    margin-bottom: 1.5rem;
}
.main-text h6 {
    color: black;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.main-text .btn {
    padding: 10px 20px;
    background: #007163;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    transition: all 0,10s;
}
.main-text .btn:hover {
    opacity: .85;
}
.main-text .text h5{
    font-size: 1rem;
    color: #444;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.main-text .content {
    display: flex;
    align-items: center;
    gap: 10px;
}
.main-text .content span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px #888;
    transition: all 0.5s;
}
.main-text .content span:hover{
    opacity: .80;
}
#green {
    background:#445c42;
}
#pink {
    background: #ffc9cf;
}
#blue{
    background: blue;
}
#black{
    background: black;
}
#white{
    background: white;
}
#red{
    background: red;
}
.main-img {
    transition: all 2s ease;
    z-index: 100;
}

.main-img img {
   width: 320px;
   transform: rotate( 0deg);
}

  /* typical devece break points 
    ------------------------------
    Pequenas telas: até 600px
    Celular: de 600px até 768px
    Tablet: 768px até 992px 
    Destop: 992px até 1200px 
    Grandes: telas cima de 1200px
    */


@media screen and (max-width: 768px){

  header {
    font-size: 10px;
  }
  .burguer {
    display: none;
  }
  header .navigation ul li a {
    font-size: 14px;
  }
  main > section {
    padding: 10px;
  }
  .main-text h3 {
    width: 150px;
  }
  .main-text p {
    width: 200px;
  }
  .main-text img {
    width: 200px;
    margin-bottom: 3vh;
  }
  .main-img {
    max-width: 270px;
  }
  .main-text .content span{
    padding: 10px;
    width: 35px;
  }
}