@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}
body{
    background: #e8e6e7;
}
header {
    padding: 10px ;
    background: #1d1d1f;
   
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation .logo {
    width: 40px;
}
.navigation ul {
    display: flex;
    align-items: center;
    gap: 60px;
}
.navigation ul li a {
    color: #888;
    font-weight: 600;
    padding-bottom: 4px;
    transition: all 0,5s ease-in-out ;

}
.navigation ul li a:hover {
    border-bottom: 1px solid white;
}

/* main */

main section  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}
.main-text img {
    width: 250px;
    margin-bottom: 3vh;
}
.main-text h3 {
    font-size: 30px;
    margin-bottom: 2rem;
}
.main-text p {
    margin-bottom: 1.5rem;
}
.main-text h6 {
    color: black;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.main-text .btn {
    padding: 10px 20px;
    background: #007163;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    transition: all 0,10s;
}
.main-text .btn:hover {
    opacity: .85;
}
.main-text .text h5{
    font-size: 1rem;
    color: #444;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.main-text .content {
    display: flex;
    align-items: center;
    gap: 10px;
}
.main-text .content span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px #888;
    transition: all 0.5s;
}
.main-text .content span:hover{
    opacity: .80;
}
#green {
    background:#445c42;
}
#pink {
    background: #ffc9cf;
}
#blue{
    background: blue;
}
#black{
    background: black;
}
#white{
    background: white;
}
#red{
    background: red;
}
.main-img {
    transition: all 2s ease;
    z-index: 100;
}

.main-img img {
   width: 320px;
   transform: rotate( 0deg);
}

 
