@charset "UTF-8";

  /* typical devece break points 
    ------------------------------
    Pequenas telas: até 600px
    Celular: de 600px até 768px
    Tablet: 768px até 992px 
    Destop: 992px até 1200px 
    Grandes: telas cima de 1200px
    */


@media screen and (max-width: 768px){

  header {
    
    font-size: 10px;
  }
  .burguer{
    display: none;
  }
  header .navigation ul li a {
    font-size: 14px;
  }
  main > section {
    padding: 10px;
  }

}
